@font-face {
    font-family: 'Sen';
    src: url('Sen-ExtraBold.woff2') format('woff2'),
        url('Sen-ExtraBold.woff') format('woff'),
        url('Sen-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sen';
    src: url('Sen-Medium.woff2') format('woff2'),
        url('Sen-Medium.woff') format('woff'),
        url('Sen-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sen';
    src: url('Sen-Bold.woff2') format('woff2'),
        url('Sen-Bold.woff') format('woff'),
        url('Sen-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sen';
    src: url('Sen-Regular.woff2') format('woff2'),
        url('Sen-Regular.woff') format('woff'),
        url('Sen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sen';
    src: url('Sen-SemiBold.woff2') format('woff2'),
        url('Sen-SemiBold.woff') format('woff'),
        url('Sen-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

